*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
}

.footer1{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.footer1 .img1{
    margin: 10px;
    padding: 5px;
    margin-top: 20px;
}
.footer2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
}
.footer2 .text2{
    margin-top: 4px;
    margin-left: 12px;
    font-family: cursive;
    padding-right: 20px;
}
.footer2 .img2{
    font-family: cursive;
}
/* .footer {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #DCDCDC;
    z-index: 2;
  } */
.img1 {
    position: relative;
}
  
.img1::before {
    background: #C0C0C0;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}
  
.img1:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    border-radius: 10px 10px;
}
        /* SignIn&SignOut */

.row1{
    
    color: white;
    right: 0;
    font-weight: bold;
    font-size: 20px;
}
.card-title{
    color: grey !important;
    font-weight: bold;
}
.card-title1{
  color: white !important;
  font-weight: bold;
  font-size: 38px;
}
.nav-item1{
    color: grey !important;
    font-family: cursive;
    font-weight: bold;
}
.nav-item1:hover{
    color: black !important;
}


input::placeholder{
    color: black!important;
}

input{
    outline: none;
    color: black!important;
    font-weight: bold !important;
    font-size: 20px !important;
}
.form-control{
    display: flex;
    margin-left: 20px;
}
.buttoncss {
    text-align: center;
    width: auto;
    color: white;
    align-self: center;
    background-color: #D8BFD8;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border: black;
}

.buttoncss:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  color: black;
}

.buttoncss:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  color: black;
}
.user_link {
    text-decoration: none;
}
.dropdown-menu {
    margin: 0!important;
}
.textuser{
    color: black;
    font-weight:900;
    font-family: cursive;
}
.textuser1{
    color: #DC3545 !important;
}
.background2{
    opacity: 0.5;
}
.welcomeuser{
    z-index: 1;
}
.cateth{
    text-align: center;
}
.catetbody{
    text-align: center;
}
.currentuser{
    font-family: cursive;
    text-decoration: none;
}
.currenthover{
    display: flex;
    position: relative;
    font-family: cursive;
    text-decoration: none;
    z-index: 1;
}
.currenthover::before {
    background: grey;
    content: "";
    inset: 0;
    position:absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.currenthover:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
.currenthover::after{
    z-index: 1;
}
.currentuser1{
    font-family: cursive;
    font-weight: bold;
    padding-right:2px;
    align-items:center;
    text-align:center;
    justify-content:center;
    margin:0 !important;
}
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

@media (min-width:1000px) {
    .row1{
        margin-top: 100px;
    }
    .signup {
      margin-right: 300px;
      width: 400px;
    }
    .signin{
        margin-left: 300px;
        margin-top: 200px;
    }
    .backgroundsi{
        height: 800px;
    }
    .backgroundsu{
        height: 100%;
    }
    .welcomeuser{
        margin-top: 100px;
    }
    .textuser{
        font-size:40px !important;
    }
    .textuser1{
        font-size:40px !important;
    }
    .welcometext{
        font-size: 40px;
        display: flex;
        font-weight:900;
        font-family: cursive;
    }
    .categoriesindex{
        margin-top: 50px;
        width: 1300px;
    }
    .catebutton{
        float: right;
    }
    .evaluation{
        padding:20px;
        margin:40px;
        background-color: #DC3545 !important;
        color: white;
    }
    .universitycollab{
        width: 1000px;
        height: 667px;
    }
    .greenwichimg{
        width: 600px;
        height: 400px;
    }
    .gwtext{
        width:500px;
        margin-right: 100px;
        margin-top: 100px;
    }
    .greenwichmodify{
        display: flex;
        justify-content: center;
    }
    .janebar{
        display: flex;
    }
    .jane{
        margin-left: 50px;
        width: 45%;
        margin-top: 50px;
     
    }
    .janediv{
        width: 45%;
        margin-top: 50px;
    }
    .janeimg{
        width: 750px;
        height: 400px;
    }
    .atgreenwich{
        margin-top: 70px;
    }
    .janeharrington{
        color:white;
        float:right;
        margin-right:60px;
    }
}
@media only screen and (max-width:1000px) {
   .row1{
    margin-top: 20px;
   }
    .backgroundsu {
      height: auto;
    }
    .signup{
        margin-right: 50px;
    }
    .backgroundsi{
        height: auto;
    }
    
    .signin{
        justify-content: center;
        align-items: center;
    }
    .hellotext{
        font-size: 20px;
    }
    .footer2{
        height: 50px;
    }
    .background2{
        height: 300px;
        width: auto;
    }
    .welcometext{
        font-size: 25px;
        margin: 0 !important;
        font-weight:900;
        font-family: cursive;
    }
    .greenwich{
        margin-top: 8px;
        font-size: 18px !important;
    }
    .textuser{
        font-size:30px !important;
    }
    .textuser1{
        font-size:30px !important;
    }
    .categoriesindex{
        margin-top: 50px;
        justify-content: center;
    }
    .catecenter{
        text-align: center;
    }
    .evaluationmb h5,h3{
        font-size: 16px;
    }
    .evaluation {
        background-color: #DC3545 !important;
        color: white;
    }
    .universitycollab{
        height: 200px;
        width: 318px;
    }
    .greenwichimg{
        height: 200px;
        width: 318px;
        margin-top: 50px;
    }
    .gwtext{
        width: 230px;
        margin-left: 80px;
        justify-content: center;
        align-items: center;
    }
    .janeharrington{
        color:white;
        text-align: center;
        padding: 20px;
        font-size: 12px;
    }
    .janeimg{
        height: 300px;
        width: 100%;
    }
  }
