*{
    margin: 0;
    padding: 0;
}
.box{
    width: 100%;
    height: 150px;
    background-color: #DCDCDC;
}
.footer1{
    display: flex;
    align-items: center;
   justify-content: center;
}
.footer1 .img1{
    padding: 20px;
}
.footer2{
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer2 .text2{
    margin-top: 4px;
    margin-left: 12px;
    font-family: cursive;
    padding-right: 20px;
}
.footer2 .img2{
    font-family: cursive;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.user_link {
    text-decoration: none;
}
.dropdown-menu {
    margin: 0!important;
}